<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your Films
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Your Films</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-group>
      <ion-item-divider color="success" *ngIf="watchedfilms.length > 0">
        <ion-label><b><h1>Completed</h1></b></ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let film of watchedfilms; let last = last;" [lines]="last ? 'none' : 'full'">
        <ion-checkbox labelPlacement="end" justify="start" [(ngModel)]="film.watched" [ngClass]="{ 'watched': film.watched, 'notwatched': !film.watched }" (ionChange)="updateLists()">
          <ion-label [ngClass]="{ 'watched': film.watched, 'notwatched': !film.watched }">
            <h2><b>{{ film.name }}</b></h2>
            <p>{{ film.length }} m</p>
          </ion-label>
        </ion-checkbox>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="warning" *ngIf="plannedfilms.length > 0">
        <ion-label><b><h1>Plan to Watch</h1></b></ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let film of plannedfilms; let last = last;" [lines]="last ? 'none' : 'full'">
        <ion-checkbox labelPlacement="end" justify="start" [(ngModel)]="film.watched" [ngClass]="{ 'watched': film.watched, 'notwatched': !film.watched }" (ionChange)="updateLists()">
          <ion-label [ngClass]="{ 'watched': film.watched, 'notwatched': !film.watched }">
            <h2><b>{{ film.name }}</b></h2>
            <p>{{ film.length }} m</p>
          </ion-label>
        </ion-checkbox>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
