.custom-input {
    --padding-start: 16px; /* Větší vnitřní padding */
    --padding-end: 16px;
    font-size: 1.2rem; /* Větší text */
}
.custom-button {
    width: 350px; /* Nebo jiná pevná šířka */
    margin: 0 auto; /* Vycentrování */
  }